{% load i18n %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Translation</title>
</head>
<body>
{{ message }}
{#<form action="{% url 'set_language' %}" method="post">#}
{#    {% csrf_token %}#}
{#    <input type="hidden" name="next" value="{{ redirect_to }}">#}
{#    <select name="language" id="language">#}
{#        <option value="en">English</option>#}
{#        <option value="fr">French</option>#}
{#        <option value="es">Spanish</option>#}
{#    </select>#}
{#    <input type="submit" value="Submit">#}
{#</form>#}

<form action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ redirect_to }}">
    <select name="language" id="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Submit">

</body>
</html>